.container{
  align-content: center;
  background-color: #DADDFC;
  border: 5px solid rgb(65, 65, 228);
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
  height: 400px;
  justify-content: center;
  width: 400px;
}
.item{
  background-color: #81B214;
  display: grid;
  font-size: 30px;
  place-items: end;
}
.sub_item{
  background-color: rgb(18, 54, 9);
  display: block;
  width: 30%;
  height: 50%;
}